ion-grid {
  --ion-grid-padding: 0px;
}
ion-list {
  padding: 0px !important;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.w-100 {
  width: 100%;
}
.h-full {
  height: 100vh;
}
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex-top {
  display: flex;
  justify-content: start;
  align-items: start;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bold {
  font-weight: bold;
}

/* padding */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pt-5 {
  padding-top: 3rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.pl-4 {
  padding-left: 1.5rem;
}
.pl-5 {
  padding-left: 3rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pr-4 {
  padding-right: 1.5rem;
}
.pr-5 {
  padding-right: 3rem;
}
.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.px-1 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.px-1 {
  padding-right: 3rem;
  padding-left: 3rem;
}

/* margin */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.ml-5 {
  margin-left: 3rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mt-6 {
  margin-top: 6rem;
}

.input-border {
  border: 2px solid #fff;
}
.border-bottom {
  text-decoration: underline;
}
