.rotate {
  transform: rotate(90deg);
  width: 100vw;
}
.moving-text3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText3 10s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText2 5s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText1 2s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}

@keyframes moveText3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-2200%);
  }
}
@keyframes moveText2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-1200%);
  }
}
@keyframes moveText1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-350%);
  }
}
