.rotate {
  transform: rotate(90deg);
  width: 100vw;
}
.moving-text1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText1 2s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText2 3s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText3 4s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText4 5s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text5 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText5 6s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text6 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText6 7s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text7 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText7 8s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text8 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText8 9s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text9 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText9 10s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}
.moving-text10 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-weight: bolder;
  animation: moveText10 11s linear infinite;
  font-size: 31rem;
  color: #0000ff;
  margin: 0;
  padding: 0;
}

@keyframes moveText1 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes moveText2 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-550%);
  }
}

@keyframes moveText3 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-800%);
  }
}
@keyframes moveText4 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-1050%);
  }
}
@keyframes moveText5 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-1300%);
  }
}
@keyframes moveText6 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-1550%);
  }
}
@keyframes moveText7 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-1800%);
  }
}
@keyframes moveText8 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-2050%);
  }
}
@keyframes moveText9 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-2300%);
  }
}
@keyframes moveText10 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-230%);
  }
}
html,
body.dark-screen {
  background: #000 !important;
}
html,
body.light-screen {
  background: #fff !important;
}
