.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
ion-header.color-page {
  border: 3px solid #000 !important;
  outline: 3px solid #000 !important;
}
ion-header.color-page--light {
  border: 3px solid #fff !important;
  outline: 3px solid #fff !important;
}
